@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

#heading {
    background-color: #1f2937;
    padding: 0 105px 50px;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
    color: #f9faf8;
}

#nav-links ul{
    display: flex;
    gap: 1rem;
}

#nav-links ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav-logo {
    align-items: center;
}

#nav-logo h4 {
    margin: 16px 0;
    font-size: 24px;
    color: #f9faf8;
}

#heading-title {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#heading-text h1 { 
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
}

#heading-text p, #nav-links ul li {
    font-size: 18px;
    color: #E5E7EB;
}

#heading-text button {
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

@media (max-width: 700px){
    #heading-title {
        flex-direction: column;
    }
}

#heading-title * {
    flex: 1;
}

#heading-image img {
    max-width: 100%;
}

#second-part {
    text-align: center;
    padding: 10px 0 35px;
}

#second-part h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

#second-part-flex { 
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#second-part-flex * {
    flex: 1;
}

#second-part-flex * img {
    border: 3px solid #3882f6;
    border-radius: 15px;
    max-width: 100%;
}

#third-section {
    padding: 80px 350px;
    background-color: #E5E7EB;
}

#quote-author {
    text-align: right;
    margin-top: 10px;
}


#call-to-action {
    margin: 75px auto;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    width: 60%;
    gap: 2rem;
    padding: 30px 35px;
    align-items: center;
    color: white;
}

#cta-title {
    width: 70%;
}

#cta-title h4, p {
    margin: 0;
}

#cta-button {
    flex: 1 0 auto;
}

#cta-button button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

#footer {
    font-size: smaller;
    background-color: #1f2937;
    padding: 20px 250px;
    text-align: center;
    color: white;
}