body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;   
}

nav {
    background-color: #4C3D3D;
    display: flex;
    gap: 35px;
    padding: 10px;
    justify-content: flex-end;
    margin: 0;
}

h1, h4 {
    margin: 0;
}

nav a {
    color: white;
}

#header-container {
    background-color: #9ADE7B;
    padding: 70px 200px;
    display: flex;
    gap: 25px;
}

#header, #donation-section {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 45px;
}

#header {
    width: 60%;
}

#donation-section {
    width: 35%;
    text-align: center;
}

#donation-section-content {
    width: 100%;
}

#header h1 {
    font-size: 48px;
}

#header p {
    font-size: 22px;
    font-weight: 500;
    color: rgba(24, 24, 24, 0.467);
    font-family: 'Red Hat Display', sans-serif;
}


#bar-container {
    margin: auto;
    padding: 10px 0;
}

#bar-bg {
    background-color: #afdc9a46;
    height: 15px;
    border-radius: 2px;
  }

@keyframes loadbar {
    from {width: 0}
    to {scale: 100%}
}

#bar-fg {
    background-color: #8fe06a;
    height: 15px;
    border-radius: 2px;
    animation-duration: 1.5s;
    max-width: 100%;
}


#donation-form {
    margin: auto;
}

#donations-raised, #donation-goal {
    text-align: left;
}

#donation-goal { 
    font-family: 'Red Hat Display', sans-serif;
    color: rgba(24, 24, 24, 0.467);
}

#donation-amount-field {
    text-align: left;
}

#donation-amount-field label {
    text-align: left;
    font-size: 24px;
}

#donation-amount-field-inner {
    background-color: #afdc9a46;
    display: flex;
}

#donation-currency, #donation-amount {
    font-size: 24px;
}

#donation-currency {
    padding: 10px 20px;
    background-color: #9ADE7B;
    color: rgba(24, 24, 24, 0.467);
}

#donation-amount {
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    font-size: 24px;
    flex: 1;
}

#donation-amount, #donation-amount:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

#donation-submit {
    border: none;
    border-radius: 5px;
    background: #9ADE7B;
    margin: 10px 0;
    width: 100%;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

}
/* Donation Rewards Section */
#donation-rewards-section {
    margin: 50px auto;
    text-align: center;
}

#rewards-container {
    margin: 30px auto;
    display: flex;
    gap: 60px;
    justify-content: space-around;
    width: 60%;
}

#reward-card {
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    padding: 15px;
}
/* FAQ Section */

#faq-section {
    padding: 50px 0;
    margin: 0 200px;
}

#faq-section h2 {
    text-align: center;
}

#question {
    font-size: 22px;
    padding-top: 15px;
}

#question p {
    font-size: 18px;
}

#email-input, #email-submit {
    border-radius: 5px;
    padding: 5px 10px;

}
#email-submit {
    background-color: #FFD95A;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}